<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>MatchingBot</title>
    <link rel="stylesheet" th:href="@{/css/layout.css}"/>
    <link rel="stylesheet" th:href="@{/css/admin/boards.css}"/>
</head>
<body>

<div class="wrapper">
    <div th:replace="~{fragments/header :: header(role=${role})}"></div>

    <main class="main-content">
        <section style="padding: 2rem;">

            <!-- 검색창 -->
            <div class="search-bar-wrapper">

                <h2 style="margin-bottom: 1.5rem;">
                    <a href="/admin/board/resumes">이력서 관리</a>
                </h2>

                <div class="bulk-actions">
                    <div class="bulk-button-group">
                        <button type="button" class="btn btn-delete"
                                onclick="bulkHardDelete('/api/v1/admin/bulk/resumes')">삭제
                        </button>
                        <!-- <button type="button" class="btn btn-extract"
                                 onclick="bulkExtract('/admin/bulk/placeholder')">추출
                         </button>-->
                    </div>
                    <div class="form-error-global" th:if="${errorMessage}" th:text="${errorMessage}"></div>
                </div>

                <form method="get" th:action="@{/admin/board/resumes}" class="search-form">
                    <div class="search-options">
                        <!-- 정렬 기준 -->
                        <select name="sortBy" onchange="this.form.submit()">
                            <option value="" disabled>정렬 기준</option>
                            <option value="id" th:selected="${condition.sortBy == 'id'}">이력서 번호</option>
                            <option value="createdAt" th:selected="${condition.sortBy == 'createdAt'}">생성일</option>
                        </select>

                        <!-- 정렬 방향 -->
                        <select name="direction" onchange="this.form.submit()">
                            <option value="" disabled>정렬 순서</option>
                            <option value="DESC" th:selected="${condition.direction == 'DESC'}">내림차순</option>
                            <option value="ASC" th:selected="${condition.direction == 'ASC'}">오름차순</option>
                        </select>

                        <select name="careerType" onchange="this.form.submit()">
                            <option value="" disabled>커리어</option>
                            <option value="" th:selected="${condition.careerType == null}">전체</option>
                            <option value="NEW" th:selected="${condition.careerType?.name() == 'NEW'}">신입</option>
                            <option value="EXP" th:selected="${condition.careerType?.name() == 'EXP'}">경력</option>
                        </select>

                        <!-- 상태 -->
                        <!--<select name="keywordsStatus" onchange="this.form.submit()">
                            <option value="" disabled>추출 상태</option>
                            <option value="">전체</option>
                            <option value="Y" th:selected="${condition.keywordsStatus == 'Y'}">완료</option>
                            <option value="N" th:selected="${condition.keywordsStatus == 'N'}">미완료</option>
                        </select>-->
                    </div>

                    <div class="search-right">
                        <input type="text" name="keyword" placeholder="이력서 번호, 제목, 이메일 검색..." maxlength="50"
                               th:value="${condition.keyword}"/>
                        <button type="submit" class="btn btn-search">검색</button>
                    </div>
                </form>
            </div>

            <!-- 회원 테이블 -->
            <div class="table-wrapper">
                <table class="table">
                    <colgroup>
                        <col style="width: 15px;"/>  <!-- 체크박스 -->
                        <col style="width: 50px;"/>  <!-- 회원 번호 -->
                        <col style="width: 180px;"/>  <!-- 제목 -->
                        <!--                        <col style="width: 120px;"/> &lt;!&ndash; 역량 키워드 &ndash;&gt;-->
                        <!--                        <col style="width: 120px;"/>  &lt;!&ndash; 인재상 키워드 &ndash;&gt;-->
                        <col style="width: 70px;"/> <!-- 희망 직무 -->
                        <col style="width: 30px;"/> <!-- 경력 -->
                        <col style="width: 130px;"/>  <!-- 작성자 -->
                        <col style="width: 70px;"/>  <!-- 작성일 -->
                        <col style="width: 130px;"/> <!-- 수정자 -->
                        <col style="width: 70px;"/>  <!-- 수정일 -->
                        <!--                        <col style="width: 40px;"/>  &lt;!&ndash; 평가 &ndash;&gt;-->
                        <!--                        <col style="width: 40px;"/>  &lt;!&ndash; 삭제/복구 &ndash;&gt;-->
                        <col style="width: 30px;"/>  <!-- 삭제/복구 -->
                    </colgroup>
                    <thead style="background-color: #f0f0f0;">
                    <tr>
                        <th><input type="checkbox" id="check-all"/></th>
                        <th>이력서 번호</th>
                        <th>제목</th>
                        <!--                        <th>역량 키워드</th>-->
                        <!--                        <th>인재상 키워드</th>-->
                        <th>희망 직무</th>
                        <th>커리어</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>수정자</th>
                        <th>수정일</th>
                        <!--                        <th>키워드</th>-->
                        <!--                        <th>추출</th>-->
                        <th>삭제</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="resume : ${resumes ?: {}}">
                        <td><input type="checkbox" name="checkedIds" th:value="${resume.id}" class="check-row"/>
                        </td>
                        <td th:text="${resume.formattedId}">이력서 번호</td>
                        <td class="text-left-col">
                            <a th:href="@{|/admin/board/resumes/${resume.id}|}"
                               th:text="${resume.title}"
                               th:attr="title=${resume.title}"
                               class="link-detail">이력서 제목</a>
                        </td>
                        <!--                        <td class="text-left-col" th:text="${resume.skillKeywords}">역량 키워드</td>-->
                        <!--                        <td class="text-left-col" th:text="${resume.traitKeywords}">인재상 키워드</td>-->
                        <td class="text-left-col" th:text="${resume.desiredOccupation}">희망 직무</td>
                        <td th:text="${resume.careerType?.name() == 'EXP' ? '경력' : '신입'}">-</td>
                        <td class="text-left-col" th:text="${resume.createdBy}">작성자</td>
                        <td th:text="${#temporals.format(resume.createdAt, 'yyyy-MM-dd HH:mm:ss')}">작성일</td>
                        <td class="text-left-col" th:text="${resume.updatedBy}">수정자</td>
                        <td th:text="${#temporals.format(resume.updatedAt, 'yyyy-MM-dd HH:mm:ss')}">수정일</td>
                        <!--                        <td th:text="${resume.keywordsStatus}">키워드 추출 상태</td>-->
                        <!--<td>
                            <<button type="button"
                                    class="btn btn-extract"
                                    th:onclick="|extractKeywords({ id: ${resume.id}, url: '/api/v1/admin/placeholder', onSuccess: () => location.reload() })|">
                                추출
                            </button>
                        </td>-->
                        <td>
                            <button type="button"
                                    class="btn btn-delete"
                                    th:onclick="|deleteItem({ id: ${resume.id}, url: '/api/v1/admin/resumes', onSuccess: () => location.reload() })|">
                                삭제
                            </button>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- 페이지네이션 (예시) -->
            <div class="table-pagination" style="margin-top: 1.5rem; text-align: center;">
                <a th:if="${page != null and page.hasPrevious()}"
                   th:href="@{/admin/board/resumes(
                   page=${currentPage - 1},
                  sortBy=${condition.sortBy},
                  direction=${condition.direction},
                  status=${condition.status},
                  keyword=${condition.keyword}
                   )}">이전</a>
                <span th:if="${page == null or !page.hasPrevious()}" style="visibility: hidden;">이전</span>

                <span th:each="pageNum : ${pageNumbers ?: {}}" style="margin: 0 5px;">
                                <a th:href="@{/admin/board/resumes(
                                   page=${pageNum},
                                   sortBy=${condition.sortBy},
                                   direction=${condition.direction},
                                   status=${condition.status},
                                   keyword=${condition.keyword}
                                )}"
                                   th:text="${pageNum + 1}"
                                   th:classappend="${pageNum == currentPage} ? 'active-page' : ''"></a>
                            </span>

                <a th:if="${page != null and page.hasNext()}"
                   th:href="@{/admin/board/resumes(
                   page=${currentPage + 1},
                   sortBy=${condition.sortBy},
                   direction=${condition.direction},
                   status=${condition.status},
                   keyword=${condition.keyword}
                   )}">다음</a>
                <span th:if="${page == null or !page.hasNext()}" style="visibility: hidden;">다음</span>
            </div>
        </section>
    </main>

    <!-- Footer Fragment -->
    <div th:replace="fragments/footer :: footer"></div>
</div>
<script th:src="@{/js/auth/fetchWithAuth.js}"></script>
<script th:src="@{/js/dropdown.js}"></script>
<script th:src="@{/js/logout.js}"></script>
<script th:src="@{/js/admin/hardDeleteItem.js}"></script>
<script th:src="@{/js/admin/bulkHardDelete.js}"></script>
</body>
</html>
