.keyword-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%; /* 전체 너비 확보 */
    max-width: 520px;
}

.keyword-input {
    display: flex;
    align-items: center;
    width: 100px; /* 100px * 5 + gap(8px * 4) = 520px 가로 정렬 */
}

.keyword-input input {
    flex: 1;
    min-width: 0;
    padding: 4px;
    font-size: 14px;
}

.keyword-input button {
    margin-left: 3px;
    padding: 4px 6px;
    font-size: 14px;
}