<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>채용 공고 관리</title>
    <link rel="stylesheet" th:href="@{/css/company-job.css}">
    <link rel="stylesheet" th:href="@{/css/layout.css}">
</head>
<body>

<div th:replace="~{fragments/header :: header(role=${role})}"></div>

<div class="container">

    <h2>채용 공고 관리</h2>

    <button class="nav-button" onclick="location.href='/job/new'">공고 등록하기</button>

    <table class="job-table">
        <thead>
        <tr>
            <th style="width: 5%;">번호</th>
            <th>채용 공고 제목</th>
            <th style="width: 25%;">채용 기간</th>
            <th>상세보기</th>
            <th>수정</th>
            <th>삭제</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="job, iterStat : ${jobPage.content}">
            <td th:text="${iterStat.index + 1}">1</td>
            <td th:text="${job.title}">제목</td>
            <td th:text="${#temporals.format(job.startDate, 'yyyy-MM-dd')} + ' ~ ' + ${#temporals.format(job.endDate, 'yyyy-MM-dd')}">기간</td>
            <td th:onclick="'location.href=\'/job/' + ${job.id} + '\''">상세보기</td>
            <td><button class="update-button" th:onclick="'location.href=\'/job/' + ${job.id} + '/edit\''">수정</button></td>
            <td><button class="delete-button" th:attr="onclick=|deleteJob(${job.id})|">삭제</button></td>
        </tr>
        </tbody>
    </table>

    <button class="mypage-button" onclick="location.href='/company/mypage'">돌아가기</button>

    <div class="pagination">
        <button class="pag-button" th:if="${!jobPage.first}"
                th:onclick="'location.href=\'/job/manage-jobs?page=' + ${jobPage.number - 1} + '\''">
            이전
        </button>

        <span th:text="${jobPage.number + 1}">1</span> /
        <span th:text="${jobPage.totalPages}">1</span>

        <button class="pag-button" th:if="${!jobPage.last}"
                th:onclick="'location.href=\'/job/manage-jobs?page=' + ${jobPage.number + 1} + '\''">
            다음
        </button>
    </div>
</div>

<!-- 삭제 스크립트 -->
<script>
    function deleteJob(id) {
        if (confirm("정말 삭제하시겠습니까?")) {
            fetch(`/api/jobs/${id}`, {
                method: "DELETE"
            })
                .then(res => {
                    if (res.ok) {
                        window.location.href = "/job/manage-jobs"; // 삭제 후 목록 페이지로 이동
                    } else {
                        alert("삭제에 실패했습니다.");
                    }
                })
                .catch(err => {
                    alert("에러 발생: " + err);
                });
        }
    }
</script>

<div th:replace="~{fragments/footer :: footer}"></div>

<script th:src="@{/js/dropdown.js}"></script>
<script th:src="@{/js/logout.js}"></script>

</body>
</html>
